<%@ page language="VB" autoeventwireup="false" inherits="Test, App_Web_5du5f2ki" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <asp:Button ID="test_edit" Text="Test Edit Individual" runat="server" />
    
    <BR /><BR />
   <asp:TextBox ID="number" runat="server" />
   <asp:Button ID="GENID" Text="GENID" runat="server" />
   <br /><br /><br />
   <asp:button ID="send" Text="send" runat="server" />


    </div>
    </form>
</body>
</html>
