﻿<%@ Page Language="VB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    Protected Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs)
        ' Place all startup code here, including initialization of 
        ' variables,  preloading of controls, and loading of 
        ' data from a database.
       

        'Execute GetIndividual WebService for the first time to compile website at 4am each morning after apppool is refreshed
        
        Dim ws As New LaserReg()
        
        Dim IndividualID As String = "35ZImvv6eKLqFTXay7PA5lBouqQVviiY"
        Dim ConferenceID As String = ConfigurationManager.AppSettings("conferenceCode")
        Dim User As String = "webuser"
        Dim Pass As String = "w3bus3r_waterloo"
        
        Dim result As SimpleIndividual
        result = ws.GetIndividual(IndividualID, ConferenceID, User, Pass)
        Response.Write(result.FirstName & " " & result.LastName & " " & result.Email & vbCrLf & "<br /> As Service Account: " & ws.LastUsedLogin)
    End Sub
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
