﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LeadingAge</title>
</head>

<body>

<table width="700" border="0" cellspacing="5" cellpadding="5">
  <tr>
     <td><img src="http://www.leadingage.org/images/PEAK2013/MyLeadingAge.PEAK13_Banner.png"/></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
    <br /> <br />
     Thank you for registering for the 2013 PEAK Leadership Summit and Exposition. 
    You will receive a detailed email confirmation of your registration and selections within 48 hours. 
    We look forward to seeing you in Washington, DC!
    <br /><br />
    
    For your reference, your login information is listed below.
    <br /><br />
    <b>Username:</b> <%USERNAME%><br />
    <b>Password:</b> <%PASSWORD%>
    <br /><br />        

    LeadingAge<br/>Conference Services<br/>
    2519 Connecticut Ave, NW<br/>
    Washington, DC 20008-1520<br/>
    Tel: (888) 508-9441<br/>
    Fax: (202) 939-5822<br/>
    meeting@LeadingAge.org<br/>
    http://my.leadingage.org/
    
    </td>
  </tr>
</table>
</td>
  </tr>
</table>

</body>
</html>
